.profile {
  max-width: 282px;
  margin: 0 auto 36px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .profile {
    max-width: 730px;
    max-height: 120px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .profile {
    min-width: 880px;
    max-height: 120px;
    margin: 0px auto 51px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .profile {
    margin: 0px 200px 51px 200px;
  }
}
