.header {
  margin: 0;
  margin-bottom: 38.25px;
  padding: 28px 0px 0px 0px;
  min-width: 320px;
}
@media screen and (min-width: 1024px) {
  .header {
    margin: 0;
    padding: 45px 72px 40px 72px;
    min-width: 880px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    margin: 0;
    padding: 45px 200px 40px 200px;
    min-width: 880px;
  }
}
