.popup__close-button {
  background-image: url(../../../images/popup__close.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  top: -36px;
  right: 0px;
  z-index: 2;
  border: 0;
  background-color: transparent;
}
.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .popup__close-button {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    top: -28px;
    right: 99px;
  }
}
@media screen and (min-width: 1024px) {
  .popup__close-button {
    background-image: url(../../../images/popup__close_xl.svg);
    margin: 59px 140px 0px 0px;
    width: 32px;
    height: 32px;
    top: -28px;
    right: 99px;
  }
}
@media screen and (min-width: 1280px) {
  .popup__close-button {
    background-image: url(../../../images/popup__close_xl.svg);
    padding: 0;
    margin: 61px 267px 0px 0px;
    width: 32px;
    height: 32px;
    top: -28px;
    right: 99px;
  }
}
