.popup__title {
  margin: 30px 22px 75px 22px;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 0.8;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .popup__title {
    margin: 34px 22px 54px 36px;
    font-size: 24px;
  }
}